<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
<body>
  <header>HEADER</header>
  <div class="container">
    <div class="image-sidebar">
      <img class="item-image" src="<%=item.img; %>" alt="An image of a <%= item.name %>">
    </div>
    <div class="show-page-sidebar">
      <h3><%=item.name%></h3>
      <p><%=item.description; %></p>
      <% if (item.qty <= 0) { %>
        <h5>OUT OF STOCK</h5>
        <% } else { %>
          <h6>Only <%=item.qty%> remaining</h6>
          <form action="/<%=item._id%>/buy?_method=put" method="POST">
            <button type="submit">BUY</button>
          </form>
          <% } %>
          <h5>price: <%=item.price; %></h5>
          <a href="/<%=item._id%>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
          <form action="/<%=item._id%>?_method=DELETE" method="POST">
            <button type="submit" class="delete-button">DELETE</button>
          </form>

        </div>
      </div>
      <footer>FOOTER          <button type="button" name="button">
                  <a href="/">Back</a>
                </button></footer>
    </body>
    </html>
